<h1> Event Created By Me </h1>

<% @events.each do |e|%>
    <div class="card">
    <%= image_tag e.hero_image_url ,class:"card-img-top"%>
    <div class="card-block">
      <h4 class="card-title"><%=e.name%></h4>
      <p class="card-text"> QWE QWE QWE QWE QWE QWE QW EQW QWE QWE QWE </p>
      <%= link_to "Details", event_path(e), class:"btn btn-primary"%>
      <%= link_to "Edit", edit_event_path(e), class:"btn btn-primary"%>
      <!-- if you are log in, you will see this published button --> 
      <% if current_user %>
        <%if(e.published)%>
          <div class="alert alert-info">
            Published
          </div>
        <%else%>
        <!-- if event has ticket_type, allow user to publish, if not, disable the publish button --> 
          <% if has_ticket_type?(e.id) %>
            <%=link_to "Publish this Event", events_path(:publish => true, :event_id => e.id),
            class:"button button-primary",method: "POST"%>
          <%else%>
            <button type="button" class="btn btn-secondary btn-lg" disabled>Publish this Event</button>
            <%end%>
        <%end%>
      <%end%>
    </div>
    </div>
  <% end %>